@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.navbar{
    z-index: 222222;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2%;
    background-color: transparent;
    color: white;
    height: 70px;
    img{
        width: auto;
        height: 26px;
    }
    .nav-link{   
        color: white;
        font-size: 18px;
        font-family: 'Roboto Slab', serif;
        padding: 0;
        margin-top: 22px;
        &:hover{
            text-decoration: underline;
        }
    }
    .navbar-nav{ 
        height: 70px;
        i{
            color: white;
            margin-right:20px;
        }
        .uplink{
            border-radius: 30px;
            width: 130px;
            text-align: center;
            padding: 10px 0;
            background-color: #14ae9c;
            transition: 0.5s;
            margin-top: 10px;
            &:hover{
                text-decoration: none;
                background-color: #108375;
                cursor: pointer;

            }
        }    
    }
}